@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Work+Sans&display=swap');

$fonte: 'Work-Sans', krona-one;
$fonte-titulo: 'Work-Sans', krona-one;
$auzl: #0056b3;
$tamanho-fonte: 19px;
$tamanho-fonte-titulo: 27px;